@import '../../../constants/width.scss';

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding-mobile);
  max-width: var(--container-max-width-mobile);

  &--no-mobile {
    padding: 0;
    max-width: 100%;
  }

  @media (min-width: $width-mobile) {
    padding: 0 var(--container-padding-mobile);
    max-width: var(--container-max-width-mobile);

    &--no-mobile {
      padding: 0;
      max-width: 100%;
    }
  }

  @media (min-width: var(--width-mobile-large)) {
    padding: 0 var(--container-padding-mobile)-large;
    max-width: var(--container-max-width-mobile-large);

    &--no-mobile {
      padding: 0;
      max-width: 100%;
    }
  }

  @media (min-width: $width-tablet) {
    padding: 0 var(--container-padding-tablet);
    max-width: var(--container-max-width-tablet);
  }

  @media (min-width: var(--width-tablet-large)) {
    padding: 0 var(--container-padding-tablet)-large;
    max-width: var(--container-max-width-tablet-large);
  }

  @media (min-width: $width-desktop) {
    padding: 0 var(--container-padding-desktop);
    max-width: var(--container-max-width-desktop);
  }

  @media (min-width: var(--width-desktop-large)) {
    padding: 0 var(--container-padding-desktop)-large;
    max-width: var(--container-max-width-desktop-large);
  }

  @media (min-width: var(--width-fullscreen)) {
    padding: 0 var(--container-padding-fullscreen);
    max-width: var(--container-max-width-fullscreen);
  }

  @media (min-width: var(--width-widescreen)) {
    padding: 0 var(--container-padding-widescreen);
    max-width: var(--container-max-width-widescreen);
  }
}
