@import '../../../constants/variables.scss';

.button {
  display: block;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    svg {
      fill: $color-primary-500;
      stroke: $color-primary-500;
    }
  }
}
