@import '../../../constants/variables.scss';

.promo {
  position: relative;
  overflow: hidden;
  height: calc(100vh - $header-height-mobile);

  @media (min-width: $width-tablet) {
    height: calc(100vh - $header-height-tablet);
  }

  @media (min-width: $width-desktop) {
    height: calc(100vh - $header-height-desktop);
  }
}

.list {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.item {
  position: absolute;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  top: 0;
  left: 0;
  transition: opacity 2s ease-in-out;
  opacity: 0;
}

.item--active {
  opacity: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: center;
  z-index: 70;
}

.title {
  font-size: 3.125rem;
  text-shadow: $text-shadow;
  margin-bottom: $gap * 3;

  @media (min-width: $width-tablet) {
    font-size: 3.75rem;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 10%;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 100;
  padding: 0;
  margin: 0;

  &:active,
  &:focus {
    background: transparent;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: $container-padding-mobile;
  left: $container-padding-mobile;

  @media (min-width: $width-tablet) {
    bottom: $container-padding-tablet;
    left: $container-padding-tablet;
  }

  @media (min-width: $width-desktop) {
    bottom: $container-padding-desktop;
    left: $container-padding-desktop;
  }
}

.dot {
  margin: 0;
  padding: 0;
  width: 1.875rem;
  height: 0.3125rem;
  border: none;
  cursor: pointer;
  margin-right: $gap;
  background: $color-on-background-500;
  box-shadow: 0 0 0 0.0625em $color-on-gray-400;
  transition: 1s;

  z-index: $z-index-dots;

  &:first-child {
    border-radius: $radius * 4 0 0 $radius * 4;
  }

  &:last-child {
    margin-right: 0;
    border-radius: 0 $radius * 4 $radius * 4 0;
  }

  &--active {
    background: $color-tetriary-500;
  }
}

.controls {
  display: none;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

  @media (min-width: $width-desktop) {
    display: flex;
  }

  button {
    z-index: $z-index-controls;
  }
}

.control {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;

  width: $container-padding-desktop * 2 + 2rem;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);

  transition: $control-transition;

  &:active,
  &:focus {
    background: transparent;
    outline: none;
    border: none;
  }

  &--prev {
    border-radius: 0 $radius * 4 $radius * 4 0;
    .icon {
      left: $container-padding-desktop;
    }
  }

  &--next {
    border-radius: $radius * 4 0 0 $radius * 4;
    .icon {
      right: $container-padding-desktop;
    }
  }
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
