@import '../constants/variables.scss';

.main {
  .genre_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: $gap;
    justify-items: center;
  }
}
