.list {
  padding: var(--container-padding-mobile) 0;
}

.item {
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  padding: var(--container-padding-mobile) 0;

  &:last-child {
    margin-bottom: 0;
  }
}
