@import '../../../constants/variables.scss';

.list {
  padding: $container-padding-mobile 0;
}

.item {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: $container-padding-mobile 0;

  &:last-child {
    margin-bottom: 0;
  }
}
