@import '../../../constants/variables.scss';

$margin: $gap * 2;

.card {
  display: flex;
  flex-direction: column;
  height: 100%;

  border-radius: 15px;
  background-color: $color-background-600;
  border: 1px solid $color-surface-400;

  width: $title-card-width;
  min-width: $title-card-width;
  max-width: $title-card-width;

  &--responsive {
    width: 100%;
    min-width: $title-card-width;
    max-width: 100%;
  }

  outline: 4px solid transparent;

  overflow: hidden;

  transition: transform 0.3s ease, outline 0.3s ease;

  @media (min-width: $width-desktop) {
    &:hover {
      outline: 4px solid $color-surface-500;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.top {
  padding: $container-padding-mobile;
  flex-grow: 1;
}

.bottom {
  padding: $container-padding-mobile;
  padding-top: 0;
  flex-shrink: 0;
}

.image_wrapper {
  display: block;
  width: 100%;
  height: auto;
}

.inner {
  justify-content: space-between;
  height: 104.66px;
}

.title {
  text-wrap: stable;
  margin-bottom: calc($margin / 2);
  display: -webkit-box;
  line-height: 1.3;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.developer {
  margin-bottom: $margin;
  text-wrap: stable;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  min-height: 16px;
}

.badge {
  max-height: 16px;
  margin-right: $gap;

  &:last-child {
    margin-right: 0;
  }
}

.price {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $container-padding-mobile;
  font-size: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
