@import '../../../constants/variables.scss';

.section_title {
  display: block;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}
