.title {
  display: block;
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: var(--text-shadow);

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}
