@import '../../../constants/variables.scss';

.sheet {
  position: fixed;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100%;
  background-color: $color-surface-600;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease-in-out;
  z-index: $z-index-sheet;
  border-radius: 25px 0 0 25px;

  &--open {
    right: 0;
  }

  @media (min-width: $width-tablet) {
    width: 30%;
  }
}

.close_wrapper {
  position: absolute;
  top: $gap;
  right: $container-padding-mobile;

  @media (min-width: $width-tablet) {
    right: $container-padding-tablet;
  }
}

.content {
  height: 100%;
  overflow-y: auto;
  padding: 0 $container-padding-mobile;
  padding-top: $container-padding-mobile - $gap + $icon-size-mobile;
  padding-bottom: $container-padding-mobile;

  @media (min-width: $width-tablet) {
    padding: 0 $container-padding-tablet;
    padding-top: $gap * 2 + $icon-size-tablet;
    padding-bottom: $container-padding-tablet;
  }
}
