.wrapper {
  width: 100%;
  z-index: 200;
}

.form {
  width: 100%;
}

.result {
  display: none;
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100vw;
  z-index: -1;
  max-height: calc(100vh - var(--header-height));
  overflow-y: auto;
  background-color: var(--color-background-500);

  &--show {
    display: block;
  }
}

.list {
  list-style-type: none;
  margin: 0;
  padding: var(--gap) 0;

  background-color: var(--color-background-500);
}

.item {
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color-background-600);
  }

  &--highlighted {
    background-color: var(--color-background-600);
  }
}

.link {
  cursor: pointer;
  padding: var(--gap) var(--container-padding-mobile);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap);
  color: var(--color-on-background-500);
  height: 2.5em;
}

.cover {
  width: 2em;
  height: auto;
}

.title {
  display: -webkit-box;
  text-wrap: stable;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: inherit;
}
