@import '../../../constants/variables.scss';

.slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;

  padding: 0 $container-padding-mobile;

  @media (min-width: $width-tablet) {
    padding: 0 $container-padding-tablet;
  }
}

.slider::-webkit-scrollbar {
  display: none;
}

.item {
  display: flex;
  scroll-snap-align: center;
  justify-content: center;
  align-items: center;

  margin-right: $gap;

  &:last-child {
    margin-right: 0;
  }
}
