:root {
  /* Common */

  --font-family: "Roboto", sans-serif;
  --font-size: 13px;
  --font-color: #ffffff;
  --font-weight: 400;

  --bg-color: #1a202b;
  --bg-element: rgba(47, 56, 65, 1);

  --main-btn-color: #53c85f;

  --padding-container: 16px;
  --gap-element: 10px;
  --gap-section: 32px;
}

/* Reset */

* {
  box-sizing: border-box;
}

body {

}

.main-header {
  padding: var(--padding-container);
}

.main-header__button {
  display: block;
  width: 40px;
  height: 40px;
  background: var(--bg-element);
}

.search {

}

.cart_button {

}

.privacy_button {

}
