.card {
  display: block;
  position: relative;
  width: 190px;
  height: 190px;
  border-radius: 15px;
  transition: 0.3s;

  &:hover {
    .image {
      filter: brightness(0.8);
    }
  }
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  z-index: 100;
  font-size: 18px;
}

.image {
  transition: 0.3s;
  border-radius: 15px;
  filter: brightness(0.5);
}
