.button {
  display: inline-block;
  padding: var(--control-padding);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background: none;
  border-radius: calc(var(--radius) * 4);
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  transition: var(--control-transition);
  overflow: hidden;
  flex-shrink: 0;

  &--primary {
    background: var(--color-primary-500);
    border: var(--control-border-size) solid var(--color-primary-500);
    color: var(--color-on-primary-500);

    &:hover {
      background: var(--color-primary-600);
      border: var(--control-border-size) solid var(--color-primary-600);
      color: var(--color-on-primary-500);
    }
  }

  &--secondary {
    background: var(--color-secondary-500);
    border: var(--control-border-size) solid var(--color-secondary-500);
    color: var(--color-on-secondary-500);

    &:hover {
      background: var(--color-secondary-600);
      border: var(--control-border-size) solid var(--color-secondary-600);
      color: var(--color-on-secondary-600);
    }
  }

  &--tetriary {
    background: var(--color-tetriary-500);
    border: var(--control-border-size) solid var(--color-tetriary-500);
    color: var(--color-on-tetriary-500);

    &:hover {
      background: var(--color-tetriary-600);
      border: var(--control-border-size) solid var(--color-tetriary-600);
      color: var(--color-on-tetriary-600);
    }
  }

  &--ps-plus {
    background: var(--ps-essential-bg);
    border: var(--control-border-size) solid var(--ps-essential-bg);
    color: var(--ps-essential-color);
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }

  &--ubisoft-plus {
    background: var(--ubisoft-bg);
    border: var(--control-border-size) solid var(--ubisoft-gradient);
    color: var(--ubisoft-color);
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }

  &--gta-plus {
    background: var(--gta-secondary);
    border: var(--control-border-size) solid var(--gta-secondary);
    color: var(--gta-color);
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }

  &--ea-play {
    background: var(--ea-bg);
    border: var(--control-border-size) solid var(--ea-bg);
    color: var(--ea-color);
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }

  &--bordered {
    background: none;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--wide {
    width: 100%;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
