@import '../../../constants/variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $control-padding;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background: none;
  border-radius: 1000px;
  font-weight: 600;
  transition: $control-transition;
  height: $control-max-height-mobile;
  min-height: $control-max-height-mobile;
  max-height: $control-max-height-mobile;

  @media (min-width: $width-tablet) {
    height: $control-max-height-tablet;
    min-height: $control-max-height-tablet;
    max-height: $control-max-height-tablet;
  }

  @media (min-width: $width-desktop) {
    height: $control-max-height-desktop;
    min-height: $control-max-height-desktop;
    max-height: $control-max-height-desktop;
  }

  &:focus {
    outline: $control-focus;
  }

  &--primary {
    background: $color-primary-500;
    border: $control-border-size solid $color-primary-500;
    color: $color-on-primary-500;

    &:hover {
      background: $color-primary-600;
      border: $control-border-size solid $color-primary-600;
      color: $color-on-primary-500;
    }
  }

  &--secondary {
    background: $color-secondary-500;
    border: $control-border-size solid $color-secondary-500;
    color: $color-on-secondary-500;

    &:hover {
      background: $color-secondary-600;
      border: $control-border-size solid $color-secondary-600;
      color: $color-on-secondary-600;
    }
  }

  &--tetriary {
    background: $color-tetriary-500;
    border: $control-border-size solid $color-tetriary-500;
    color: $color-on-tetriary-500;

    &:hover {
      background: $color-tetriary-600;
      border: $control-border-size solid $color-tetriary-600;
      color: $color-on-tetriary-600;
    }
  }

  &--bordered {
    background: none;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--wide {
    width: 100%;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
