@import '../../../constants/variables.scss';

.promo {
  position: relative;
}

.list {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.image {
  background-color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 40%;
  width: 10%;
  cursor: pointer;
  border: none;
  z-index: 100;
  background: transparent;
  margin: 0;
  padding: 0;

  &:active,
  &:focus {
    background: transparent;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}


.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: $container-padding-mobile;
  left: $container-padding-mobile;

  @media (min-width: $width-tablet) {
    bottom: $container-padding-tablet;
    left: $container-padding-tablet;
  }

  @media (min-width: $width-desktop) {
    bottom: $container-padding-desktop;
    left: $container-padding-desktop;
  }
}

.dot {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 5px;
  border: none;
  cursor: pointer;
  margin-right: $gap;
  background: $color-on-background-500;
  box-shadow: 0 0 0 0.1px $color-on-gray-400;

  &:first-child {
    border-radius: 25px 0 0 25px;
  }

  &:last-child {
    margin-right: 0;
    border-radius: 0 25px 25px 0;
  }

  &--active {
    background: $color-tetriary-500;
  }
}
