.list {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.image {
  background-color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
