.search {
  position: relative;
  /* padding-top: var(--padding-main); */
}


.wrapper {
  position: relative;
}

.wrapper::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  left: var(--padding-main);
  top: calc(50%);
  transform: translateY(-50%);
  background-image: url('/icons/icon_search.svg');
}

.input {
  width: 100%;
  background: var(--bg-secondary);
  padding: 8px 16px;
  padding-left: calc(var(--padding-main) + var(--padding-main) + 24px);
  font-size: 14px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 0;
}

.suggest {
  font-size: inherit;
}

.item {
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
}

.item:hover {
  background: var(--bg-secondary);
}

.inner {
  width: 30px;
  max-width: 30px;
  min-width: 30px;
  margin-right: 10px;
}

.inner section,
.inner img {
  border-radius: 5px;
}

.title {
  white-space: nowrap;
  font-size: 12px;
  font-family: 'Light';
}
