:root {
  /* Common */

  --font-family: "Roboto", sans-serif;
  --font-size: 16px;
  --font-color: #000000;
  --font-weight: 300;

  --background: #ffffff;
  --container-background: rgba(248, 249, 252, 1);
  --login-background:
  linear-gradient(267.34deg,#78AEFF 0%, #5E91ED 100%);

  --gap: 50px;
  --wrap: 30px;
  --element-gap: 20px;

  --transition: 0.1s;

  /* Title */

  --title-font-size: 32px;
  --title-small-font-size: 28px;
  --sibtitle-font-size: 28px;
  --title-font-color: rgba(45, 65, 101, 1);
  --title-font-weight: 800;

  /* Controls */

  --control-max-width: 350px;
  --control-padding: var(--font-size) calc(var(--font-size) * 2);
  --control-radius: 5px;
  --control-border-color: rgba(179, 179, 179, 1);
  --control-active-border-color: rgba(58, 163, 255, 1);
  --control-shadow: 0px 0px 15px 5px rgba(127, 222, 255, 0.75);
  --control-foreground: #ffffff;
  --control-background:
    linear-gradient(211.86deg, #78AEFF 19.16%, #5E91ED 80.84%);
  --control-cancel-background:
    linear-gradient(211.86deg, #FF7878 19.16%, #ED5E5E 80.84%);
  ;
  --control-border: 2px solid var(--control-border-color);
  --control-focus-border: 2px solid var(--control-active-border-color);

  --outline-big:
    0 0 0 2px #ffffff,
    0 0 0 4px var(--control-active-border-color);

  --outline-small:
    0 0 0 2px var(--control-active-border-color);

  /* Card */

  --card-background: var(--background);
  --card-info-background:
    linear-gradient(211.86deg, #78AEFF 19.16%, #5E91ED 80.84%);
  --card-radius: 20px;
  --card-login-shadow:
    0px 4px 250px 0px rgba(126, 221, 255, 1),
    0px 4px 50px 0px rgba(0, 0, 0, 0.25);
  --card-with: calc(var(--control-max-width) + calc(var(--gap) * 2));
  --card-pass-memory-background:
    linear-gradient(211.86deg, #FF8B8B 19.16%, #E96F6F 80.84%);

  --activitybar-width: 90px;
  --activitybar-background:
    linear-gradient(180deg, #456396 0%, #2C3E5E 100%);
  --activitybar-radius: 0px 30px 30px 0px;
  --activitybar-icon-color: var(--background);
  --activitybar-icon-active-color: rgba(45, 65, 101, 1);

}

/* Reset */

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
  background-color: var(--background-color);
}

input {
  display: block;
  border: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

/* Layout */

.main {
  background: var(--background);
}

.main--login {
  background: var(--login-background);
  width: 100vw;
  height: 100vh;
}

/* Mixins */

.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.hidden {
  display: none;
}

/* Avatar */

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

/* Title */

.title {
  margin: 0;
  padding: 0;
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  color: var(--title-font-color);
  line-height: 1;
}

/* Input */

.input {
  padding: var(--control-padding);
  width: var(--control-max-width);
  border: var(--control-border);
  border-radius: var(--control-radius);
  transition: var(--transition);
  resize: none;
}

.input:hover {
  box-shadow: var(--control-shadow);
}

.input:focus {
  border: 2px solid var(--control-active-border-color);
}

/* Button */

.button {
  padding: var(--control-padding);
  border-radius: calc(var(--control-radius) * 2);
  text-transform: uppercase;
  background: var(--control-background);
  color: var(--control-foreground);
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}

.button--cancel {
  background: var(--control-cancel-background);
}

.button--no-upper {
  text-transform: none;
}

.button--cancel-no-fill {
  font-size: calc(var(--font-size) - 4);
  padding: calc(var(--font-size) / 2) var(--font-size) ;
  background: transparent;
  color: rgba(238, 96, 96, 1);
}


.button:hover {
  box-shadow: var(--control-shadow);
}

.button--cancel-no-fill:hover {
  box-shadow: none;
  outline: none;
}

.button:focus {
  box-shadow: var(--control-shadow), var(--outline-big);
}

/* Card */

.card {
  background: var(--card-background);
  padding: var(--gap);
  border-radius: var(--card-radius);
  max-width: var(--card-width);
  width: var(--card-with);
}

.card__title {
  margin-bottom: var(--wrap);
  font-size: var(--title-small-font-size);
}

.card__input {
  margin: 0 auto;
  margin-bottom: var(--element-gap);
}

.card__button {
  margin: 0 auto;
  margin-top: var(--wrap);
}

.card__text {
  font-weight: 300;
}

.card__close {
  position: absolute;
  top: var(--element-gap);
  right: var(--element-gap);
  cursor: pointer;
  background-image: url("/assets/img/icon_close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.card--pass-memory {
  background: var(--card-pass-memory-background);
}

.card--login {
  box-shadow: var(--card-login-shadow);
}

.card--pass-memory .title,
.card--info .title {
  color: var(--background);
}

.card--pass-memory .card__text,
.card--info .card__text {
  color: var(--background);
}

.card--info {
  position: fixed;
  z-index: 99;
  right: var(--gap);
  bottom: var(--gap);
  background: var(--card-info-background);
}

/* Activitybar */

.activitybar {
  position: fixed;
  padding: 15px 0px;
  height: 100vh;
  max-height: 100vh;
  background: var(--activitybar-background);
  width: var(--activitybar-width);
  min-width: var(--activitybar-width);
  max-width: var(--activitybar-width);
  border-radius: var(--activitybar-radius);
}

.activitybar__list {
  display: flex;
  flex-direction: column;
}

.activitybar__avatar {
  margin: 0 auto;
  margin-bottom: var(--gap);
}

.activitybar__button {
  padding: 0;
  width: 100%;
  height: 66px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.activitybar__icon path {
  fill: var(--activitybar-icon-color);
  transition: var(--transition);
}

.activitybar__item--active .activitybar__icon path {
  z-index: 99;
  fill: var(--activitybar-icon-active-color);
}

.activitybar__item {
  position: relative;
}

.activitybar__item:hover::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  background-image: url("/assets/img/item_hover.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: none;
}

.activitybar__item--active .activitybar__button {
  position: relative;
}

.activitybar__item--active .activitybar__button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 66px;
  background-image: url("/assets/img/bg_active.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: none;
  z-index: -1;
}

/* Content */

.content {
  width: calc(100vw - var(--activitybar-width));
  margin-left: auto;
  padding-top: var(--gap);
  padding-left: var(--gap);
  display: none;
}

.content--active {
  display: block;
}

.content__container {
  position: relative;
  margin-bottom: var(--gap);
  padding: var(--gap);
  background: var(--container-background);
  border-radius: 10px 0px 0px 10px;
}

.content__wrapper {
  width: 100%;
  margin-bottom: var(--gap);
}

.content__items {
  display: flex;
}

.content__item {
  margin-right: var(--element-gap);
}

.content__item:last-child {
  margin-right: 0;
}

.content__card {
  margin-bottom: var(--element-gap);
}

.content__table {
  margin-bottom: var(--element-gap);
}

.content__additional {
  position: absolute;
  right: var(--gap);
  top: calc(var(--gap) / 2);
  vertical-align: baseline;
  padding: 25px 40px;
  background: var(--background);
  border-radius: 10px;
}

/* Table */

.table {
  overflow-x: auto;
}

.table__table {
  margin: 0;
  padding: 0;
  width: auto;
  table-layout: fixed;
  font-size: 14px;
  text-align: center;
  border-spacing: 0 calc(var(--element-gap) / 2);
}

.table__caption {
  display: none;
}

.table__head {
  padding: 25px;
  color: rgba(75, 125, 239, 1);
  font-weight: 500;
  text-transform: uppercase;
  background: rgba(231, 237, 251, 1);
}

.table__head:first-child {
  padding-left: 50px;
  border-radius: 10px 0px 0px 10px;
}

.table__head:last-child {
  padding-right: 50px;
  border-radius: 0px 10px 10px 0px;
}

.table__cell {
  padding: 40px 25px;
  background: rgba(255, 255, 255, 1);
  font-weight: 400;
}

.table__row--positive .table__cell {
  background: rgba(0, 255, 24, 0.1);
}

.table__row--negative .table__cell {
  background: rgba(255, 0, 0, 0.1);
}

.table__row--neutral .table__cell {
  background: rgba(238, 186, 2, 0.1);
}


.table__cell:first-child {
  padding-left: 50px;
  border-radius: 10px 0px 0px 10px;
}

.table__cell:last-child {
  padding-right: 50px;
  border-radius: 0px 10px 10px 0px;
}

.table__cell--left {
  text-align: left;
}
