// Sizes

$width-mobile: 320px;
$width-mobile-large: 360px;
$width-tablet: 768px;
$width-tablet-large: 1024;
$width-desktop: 1280px;
$width-desktop-large: 1440px;
$width-fullscreen: 1920px;
$width-widescreen: 2560px;

$gap: 8px;

$gap-mobile: $gap * 2;
$gap-tablet: $gap * 2;
$gap-desktop: $gap * 3;

$container-padding-mobile: $gap * 3;
$container-padding-mobile-large: $gap * 4;
$container-padding-tablet: $gap * 6;
$container-padding-tablet-large: $gap * 6;
$container-padding-desktop: $gap * 6;
$container-padding-desktop-large: $gap * 6;
$container-padding-fullscreen: $gap * 6;
$container-padding-widescreen: $gap * 6;

$container-max-width-mobile: 100%;
$container-max-width-mobile-large: 100%;
$container-max-width-tablet: 100%;
$container-max-width-tablet-large: 100%;
$container-max-width-desktop: 100%px;
$container-max-width-desktop-large: 1680px;
$container-max-width-fullscreen: 1680px;
$container-max-width-widescreen: 1680px;

$input-padding: $gap $gap * 2;


// Fonts

$font-size-mobile: 14px;
$font-size-tablet: 14px;
$font-size-desktop: 14px;


// Colors

$bg-color-primary: #2F2F2F;
$bg-color-secondary: #282828;

$text-color-primary: #FFFFFF;
$text-color-secondary: #000000;

$accent-color-primary: #FFE842;
$accent-color-secondary: #0072FF;
$accent-color-transparent: rgba(255, 232, 66, 0.5);

$info-color: #2F80ED;
$success-color: #27AE60;
$warning-color: #E2B93B;
$error-color: #EB5757;
$skeleton-color: #4F4F4F;


// Misc

$border-radius: 8px;


// Progressbar

// #nprogress .bar {
//   @apply  bg-primary !important;
// }

// #nprogress .peg {
//   @apply shadow-md shadow-primary !important;
// }

// #nprogress .spinner-icon {
//   @apply border-t-primary border-l-primary !important;
// }
