.card {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 4 / 1;
  border-radius: calc(var(--radius) * 2);
  overflow: hidden;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--ps-plus {
    &::after {
      background-image: url('/subscriptions/bg-ps-plus.png');
    }
  }

  &--ubisoft-plus {
    &::after {
      background-image: url('/subscriptions/bg-ubisoft-plus.png');
    }
  }

  &--ea-play {
    &::after {
      background: var(--ea-gradient);
    }
  }

  &--gta-plus {
    &::after {
      background-image: url('/subscriptions/bg-gta-plus.png');
    }
  }
}

.wrapper {
  height: 100%;

  &--mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 calc(var(--gap) * 2);


    .logo {
      margin: 0 auto;
    }

    @media (min-width: var(--width-tablet)) {
      display: none;
    }

    .marker {
      position: absolute;
      right: calc(var(--gap) * 2);
      bottom: calc(var(--gap) * 2);
      text-shadow: var(--text-shadow);

      &::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.0625em;
        background: var(--color-on-background-800);
        border-radius: var(--circle);
      }
    }
  }

  &--tablet {
    display: none;

    @media (min-width: var(--width-tablet)) {
      display: flex;
      padding: calc(var(--gap) * 4);

      .logo {
        margin-bottom: calc(var(--gap) * 2);
      }

      .description {
        padding-right: calc(var(--gap) * 2);
      }

      .button {
        align-self: flex-end;
        margin-left: auto;
      }
    }
  }
}
