.logo {
  display: block;
  font-size: 0;
  line-height: 1;
}

.image {
  display: block;

  &--desktop {
    display: none;
  }

  @media (min-width: var(--width-tablet)) {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
