@import '../../../constants/variables.scss';

.logo {
  display: block;
  width: $icon-size-mobile;
  height: $icon-size-mobile;

  @media (min-width: $width-tablet) {
    width: $icon-size-tablet;
    height: $icon-size-tablet;
  }

  @media (min-width: $width-desktop) {
    width: $icon-size-desktop;
    height: $icon-size-desktop;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
