@import '../../../constants/variables.scss';

.dropdown {
  width: 100%;

  &--active {
    .title {
      border-radius: $radius * 4 $radius * 4 0 0;

      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .content {
      display: block;
    }
  }

  &--transparent {
    .title {
      border-radius: $radius * 4;
    }

    .content {
      background: transparent;
      border-radius: 0;
      padding: 0;
    }
  }
}

.title {
  position: relative;
  margin: 0;
  padding: $gap $container-padding-mobile;
  width: 100%;
  text-align: left;
  background: $color-background-800;
  color: $color-on-background-800;
  cursor: pointer;
  border: none;
  border-radius: $radius * 4;

  &::after {
    position: absolute;
    content: '';
    width: 2em;
    height: 2em;
    top: 50%;
    right: $container-padding-mobile;
    transform: translateY(-50%);
    background-image: url('/icons/icon-dropdown.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 99;
    transition: 0.3s;
  }
}

.content {
  display: none;
  background: $color-background-600;
  border-radius: 0 0 $radius * 4 $radius * 4;
  padding: $gap $container-padding-mobile;
}

.item {
  text-align: left;
  padding: $gap $container-padding-mobile;
  border-bottom: 0.0625em solid $color-background-700;

  &:last-child {
    border-bottom: none;
  }
}
