@import '../../../constants/variables.scss';

.wrapper {
  padding: $gap * 2;
  background-color: $color-surface-500;
  z-index: 1000;
  border-radius: 50%;

  @media (min-width: $width-tablet) {
    bottom: $container-padding-tablet;
    left: $container-padding-tablet;
  }

  @media (min-width: $width-desktop) {
    bottom: $container-padding-desktop;
    left: $container-padding-desktop;
  }
}
