@import '../../../constants/width.scss';

.wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;

  padding: 0 var(--container-padding-mobile);

  @media (min-width: $width-tablet) {
    padding: 0 var(--container-padding-tablet);
  }

  @media (min-width: $width-desktop) {
    padding: 0 var(--container-padding-desktop);
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(var(--title-card-width), var(--title-card-width));
  gap: calc(var(--gap) * 2);
  grid-auto-rows: minmax(auto, auto);
  // margin: 0 auto;

  &.rows-1 {
    grid-template-rows: repeat(1, auto);
  }

  &.rows-2 {
    grid-template-rows: repeat(2, auto);
  }

  &.rows-3 {
    grid-template-rows: repeat(3, auto);
  }

  &.rows-4 {
    grid-template-rows: repeat(4, auto);
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  flex: 1 0 auto;
}
