@import '../../../constants/variables.scss';

.product {
  display: block;

  &--mobile {
    display: block;

    @media (min-width: $width-tablet) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $width-tablet) and (max-width: calc($width-desktop - 1px)) {
      display: block;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $width-desktop) {
      display: block;
    }
  }
}

.product {
  &--mobile {
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: $container-padding-mobile;
      padding: $container-padding-mobile 0;
    }

    .cover_wrapper {
      border-radius: 0 0 $radius $radius;
    }

    .image_wrapper {
      border-radius: $radius;
    }

    .left {
      max-width: 65%;
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
    }

    .layout {
      display: block;

      &--ps {
        .content {
          padding: $container-padding-mobile 0;
        }

        .list {
          padding-top: $container-padding-mobile;
        }
      }
    }

    .item {
      position: relative;
      margin-bottom: $container-padding-mobile;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::after {
        position: absolute;
        content: '';
        bottom: calc($container-padding-mobile / 2 * -1);
        left: 0;
        width: 100%;
        height: 2px;
        background: $color-surface-200;
        border-radius: $circle;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .edition_content {
      margin-top: $container-padding-mobile;
    }

    .edition_content_item {
      margin-bottom: $gap;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--tablet {
    .wrapper {
      padding-top: $container-padding-tablet;
    }

    .header {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: $container-padding-tablet;
      margin-bottom: $container-padding-tablet;
    }

    .center {
      margin-bottom: $container-padding-tablet;
    }

    .bottom {
      display: flex;
      justify-content: flex-end;
      margin-top: $container-padding-tablet;
    }

    .left,
    .right {
      width: 50%;
    }

    .cover_wrapper {
      border-radius: $radius;
    }

    .title {
      font-size: 2.5rem;
      margin-bottom: $gap * 3;
    }
  }

  &--desktop {
    .wrapper {
      padding-top: $container-padding-desktop;
    }

    .header {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: $container-padding-tablet;
      margin-bottom: $container-padding-desktop;
    }

    .center {
      margin-bottom: $container-padding-tablet;
    }

    .bottom {
      display: flex;
      justify-content: flex-end;
      margin-top: $container-padding-tablet;
    }

    .left,
    .right {
      width: 50%;
    }

    .cover_wrapper {
      border-radius: $radius;
    }

    .title {
      font-size: 3.125rem;
      margin-bottom: $gap * 4;
    }
  }
}

// Cover
.cover_wrapper,
.image_wrapper {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1.6em -0.125em rgba(0, 0, 0, 1);
}

.title {
  margin: 0;
  font-size: 1.375rem;
  line-height: 1.2;
  word-break: break-word;
  text-shadow: $text-shadow;
}

.dropdown {
  margin-bottom: $gap;

  &:last-child {
    margin-bottom: 0;
  }
}

// Prices
.price_item {
  display: flex;
  align-items: center;
  margin-bottom: $gap;
  font-size: 1.25rem;

  &:first-child {
    font-size: 1.875rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.price {
  margin-right: $gap;
  text-shadow: $text-shadow;
}

.edition_content {
  text-shadow: $text-shadow;
}

.edition_content_item {
  position: relative;
  padding-left: $gap * 2;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: $gap;
    height: $gap;
    background-color: $color-primary-500;
    transform: translateY(50%);
    border-radius: 50%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
