.choiser {
  font-style: inherit;
}

.selecting {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  background-color: var(--bg-input);
  color: var(--font-color-input);
  cursor: text;
  padding: 12px 16px;
  border: var(--border-input);
  font-size: 14px;
  width: 100%;
  transition: var(--transition-bg);
}

.button:first-child {
  border-radius: var(--radius-input) 0 0 var(--radius-input);
  border-right: 0;
}

.button:last-child {
  border-radius: 0 var(--radius-input) var(--radius-input) 0;
  border-left: 0;
}

.active {
  background: var(--bg-accent-main);
  border-color: var(--bg-accent-main);
}
