.input {
  display: block;
  padding: var(--control-padding);
  cursor: pointer;
  line-height: 1;
  text-align: left;
  text-decoration: none;
  background: none;
  border-radius: calc(var(--radius) * 4);
  font-weight: 600;
  border: none;
  width: 100%;
  transition: var(--control-transition);
  touch-action: manipulation;
  -ms-touch-action: manipulation;

  &:focus {
    // outline: var(--control-focus);
  }

  &--default {
    background: var(--color-gray-300);
    border: var(--control-border-size) solid var(--color-gray-300);
    color: var(--color-gray-500);
  }

  &--darker {
    background: var(--color-gray-500);
    border: var(--control-border-size) solid var(--color-gray-500);
    color: var(--color-gray-900);
  }
}
