@import '../../../constants/variables.scss';

.input {
  display: block;
  padding: $control-padding;
  cursor: pointer;
  line-height: 1;
  text-align: left;
  text-decoration: none;
  background: none;
  border-radius: $radius * 4;
  font-weight: 600;
  border: none;
  width: 100%;
  transition: $control-transition;
  touch-action: manipulation;
  -ms-touch-action: manipulation;

  &:focus {
    // outline: $control-focus;
  }

  &--default {
    background: $color-gray-300;
    border: $control-border-size solid $color-gray-300;
    color: $color-gray-500;
  }

  &--darker {
    background: $color-gray-500;
    border: $control-border-size solid $color-gray-500;
    color: $color-gray-900;
  }
}
