:root {
  --font-size-main: 16px;
  --font-color-main: #FFFFFF;
  --font-color-secondary: #4B5B6A;
  --font-color-opacity: #7D7E84;
  --padding-main: 16px;

  --font-color-error: #955654;

  --bg-main: #19212A;
  --bg-secondary: #2F3841;
  --bg-glass: #17212B99;
  --transition-bg: 200ms ease-out;

  --bg-input: var(--bg-secondary);
  --font-color-input: var(--font-color-main);
  --radius-input: 10px;
  --border-input: 1px solid #7D7E84;
  --border-input-focus: 1px solid var(--bg-accent-secondary);
  --border-input-error: 1px solid var(--font-color-error);
  --border-input-success: 1px solid var(--bg-accent-main);
  --transition-input: border 200ms ease-out;

  --bg-badge: #D9D9D9;
  --font-color-badge: #000000;
  --bg-accent-main: #34C759;

  --bg-accent-secondary: #9736D7;
  --font-color-accent: #FFFFFF;

  --bg-mainbutton: var(--bg-accent);
  --bg-mainbutton-add: var(--bg-accent-secondary);
  --font-color-mainbutton: var(--font-color-accent);

  --bg-ps-essential: #FFFFFF;
  --font-color-ps-essential: #252524;

  --bg-ps-extra: linear-gradient(90deg, #FFE741 0%, #FDC101 100%);
  --font-color-ps-extra: #252524;

  --bg-ps-deluxe: linear-gradient(90deg, #242424 0%, #363636 100%);
  --font-color-ps-deluxe: #FCC000;

  --bg-ubisoft-main: linear-gradient(84.36deg, rgba(3, 9, 23, 0.8) 0%, rgba(9, 52, 118, 0.8) 100%);
  --bg-ubisoft-secondary: #448CDE;
  --font-color-ubisoft: #FFFFFF;

  --bg-gta-main: #000000;
  --bg-gta-secondary: #FFB002;
  --font-color-gta: #000000;

  --bg-ea-main: linear-gradient(228.75deg, #FF4747 -51.59%, #0D1042 71.08%);
  --bg-ea-secondary: #FF4747;
  --font-color-ea: #FFFFFF;

  --radius-card: 20px;
}
