.item {
  width: calc(50% - 5px);
}

.img {
  background: var(--bg-secondary);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: var(--radius-card);
  aspect-ratio: 1/1;
  border: none;
}

.inner {
  padding-top: 10px;
  padding-bottom: 20px;
}

.name {
  margin-top: 5px;
  font-family: 'Light';
  font-size: 13px;
}

.item:nth-last-child(1) .inner,
.item:nth-last-child(2) .inner {
  padding-bottom: 0;
}
