.search {
  position: relative;
  padding-bottom: 100%;
}


.wrapper {
  position: relative;
}

.wrapper::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  left: var(--padding-main);
  top: calc(50%);
  transform: translateY(-50%);
  background-image: url('/icons/icon_search.svg');
}

.input {
  width: 100%;
  background: var(--bg-secondary);
  padding: 28px 16px;
  padding-left: calc(var(--padding-main) + var(--padding-main) + 24px);
  font-size: 14px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 0;
}

.suggest {
  font-size: inherit;
}

.item {
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
}

.item a {
  display: block;
  width: 100%;
}

.item:hover {
  background: var(--bg-secondary);
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.image_wrapper {
  max-width: 40px;
  min-width: 40px;
  margin-right: 10px;
}

.content section,
.content img {
  border-radius: 0px;
}

.title {
  white-space: nowrap;
  font-size: 12px;
  font-family: 'Light';
}
