@import '../../../constants/variables.scss';

.catalog {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: $container-padding-mobile 0;
  }

  @media (min-width: $width-tablet) {
    .wrapper {
      display: flex;
      padding: $container-padding-mobile 0;
    }

    .filters {
      width: 30%;
    }
  }

  @media (min-width: $width-desktop) {
    .wrapper {
      padding: $container-padding-mobile 0;
    }

    .filters {

    }
  }
}
