@import '../../../constants/variables.scss';

.catalog {
  padding: $container-padding-mobile 0;
}

.filters {
  margin-bottom: $container-padding-mobile;

  @media (min-width: $width-tablet) {
    margin-bottom: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: $width-tablet) {
  .wrapper {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: $container-padding-mobile;
    align-items: start;
  }
}

@media (min-width: $width-desktop) {

}
