@import '../../../constants/variables.scss';

.catalog {
  &--mobile {
    display: block;

    @media (min-width: $width-tablet) {
      display: none;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $width-tablet) and (max-width: calc($width-desktop - 1px)) {
      display: block;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $width-desktop) {
      display: block;
    }
  }
}

.catalog {
  &--mobile {
    .wrapper {
      display: flex;
      justify-content: center;
      padding: $container-padding-mobile 0;
    }
  }

  &--tablet {
    .wrapper {
      display: flex;
      justify-content: center;
      padding: $container-padding-mobile 0;
    }
  }
}
